<!doctype html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>


        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">


        <title>스엠이 일 안 해서 직접 만든 샤이니 모아보기</title>

        <!-- style -->
        <style type="text/css">
            * {
                /*font-family: 'Gaegu', cursive;*/
                font-family: 'Poor Story', cursive;
            }

            .card {
                width: 360px;
                margin-top: 6px;
            }

            .cards-box {
                display: inline-block;
                vertical-align: top;
                margin-left: 15px;
                margin-right: 15px;
                /*width: 360px;*/
                /*float: left;*/
            }

            .cards-boxes {
                text-align: center;
            }

            .navbar {
                position: fixed;
                width: 100%;
                z-index: 999;
                background-image: url("https://pbs.twimg.com/media/Egj1-hBU8AAKP32?format=jpg&name=large");
                background-position: center;
                background-size: cover;
                /*background-color: rgba(121, 229, 203, 0.2 );*/
            }

            #carouselExampleIndicators {
                padding-top: 90px;
                text-align: center;
                /*width: auto;*/
                width: 960px;
                margin: 0 auto;
            }

        </style>
        <script>
            $(document).ready(function () {
                showYoutube();
                showSMNews();
                showTwitters();
                showNaverNews();
            });

            function showYoutube() {
                $.ajax({
                    type: "GET",
                    url: "/youtube",
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success") {
                            let youtubes = response['youtubes']
                            let url1 = youtubes[0]['url']
                            let img1 = youtubes[0]['origin_img']
                            let title1 = youtubes[0]['title']
                            makeYoutubeCarousel1(url1, img1, title1);
                            for (i = 1; i < 5; i++) {
                                let url = youtubes[i]['url']
                                let img = youtubes[i]['origin_img']
                                let title = youtubes[0]['title']
                                makeYoutubeCarousel(url, img, title);
                            }
                        } else {
                            alert("Youtube 영상을 받아오지 못했습니다");
                        }
                    }
                })
            }

            function makeYoutubeCarousel1(url1, img1, title1) {
                let tempHtml1 = `<div class="carousel-item active">
                                    <img src="${img1}" width="640px">
                                    '${title1}'
                                    <img src="https://smcdn.smtown.com/image/pc/main/btn_video_play.png"
                                         onclick="window.open('${url1}')" style="cursor:pointer;">
                                </div>`

                $("#carousel-inner").append(tempHtml1);
            }

            function makeYoutubeCarousel(url, img) {
                let tempHtml = `<div class="carousel-item">
                                    <img src="${img}" onclick="window.open('${url}')" style="cursor:pointer" width="640px">
                                </div>`
                $("#carousel-inner").append(tempHtml);
            }

            function showSMNews() {
                $.ajax({
                    type: "GET",
                    url: "/smtown",
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success") {
                            let smnews = response['smnews']
                            for (i = 0; i < smnews.length; i++) {
                                let headline = smnews[i]['headline']
                                let content = smnews[i]['content']
                                let time = smnews[i]['time']
                                let img = smnews[i]['img']
                                let url = smnews[i]['url']
                                makeSMNewsCard(headline, content, time, img, url);
                            }
                        } else {
                            alert("SM TOWN 뉴스를 받아오지 못했습니다");
                        }
                    }
                })
            }

            function makeSMNewsCard(headline, content, time, img, url) {
                let tempHtml = `<div class="card" style="width: 360px;">
                                    <a href="${url}">
                                        <img class="card-img-top"
                                             src="${img}"
                                             alt="Card image cap">
                                    </a>
                                    <div class="card-body">
                                        <a href="${url}">
                                        <h5 class="card-title">${headline}</h5>
                                        </a>
                                        <a href="${url}"
                                            <p class="card-text">${content}</p>
                                        </a>
                                        <p class="card-text"><small class="text-muted">${time}</small>
                                            <img src="https://pbs.twimg.com/media/Egg6mTKUYAACbXn?format=png&name=240x240"
                                                 height="20" onclick="bookmark()" style="cursor:pointer">
                                        </p>
                                    </div>
                                </div>`
                $("#smnews-cards").append(tempHtml);
            }

            function showTwitters() {
                $.ajax({
                    type: "GET",
                    url: "/twitter",
                    data: {},
                    success: function (response) {
                        response = JSON.parse(response);
                        if (response["result"] == "success") {
                            let twitters = response['twitters']
                            for (i = 0; i < twitters.length; i++) {
                                let text = twitters[i]['text']
                                makeTwitterCard(twitters[i]);
                            }
                        } else {
                            alert("트위터를 받아오지 못했습니다");
                        }
                    }
                })
            }

            function makeTwitterCard(contents) {
                let tempHtml = `<div class="card">
                                    <div class="card-body">
                                        <p class="card-text">${contents.text}</p>
                                        <p class="card-text"><small class="text-muted">${contents.created_at}</small>
                                            <img src="https://pbs.twimg.com/media/Egg6mTKUYAACbXn?format=png&name=240x240"
                                                 height="20" onclick="bookmark()" style="cursor:pointer">
                                        </p>
                                    </div>
                                </div>`
                $("#twitter-cards").append(tempHtml);
            }

            function showNaverNews() {
                $.ajax({
                    type: "GET",
                    url: "/navernews",
                    data: {},
                    success: function (response) {
                        response = JSON.parse(response);
                        if (response["result"] == "success") {
                            let navernews = response['navernews']['items']
                            for (i = 0; i < navernews.length; i++) {
                                let title = navernews[i]['title']
                                let link = navernews[i]['link']
                                let description = navernews[i]['description']
                                let pubDate = navernews[i]['pubDate']
                                makeNaverNewsCard(title, link, description, pubDate);
                            }
                        } else {
                            alert("네이버 뉴스를 받아오지 못했습니다");
                        }
                    }
                })
            }

            function makeNaverNewsCard(title, link, description, pubDate) {
                let tempHtml = `<div class="card">
                                    <div class="card-body">
                                        <a href="${link}">
                                            <h5 class="card-title">${title}</h5>
                                        </a>
                                        <a href="${link}">
                                            <p class="card-text">${description}</p>
                                        </a>
                                        <p class="card-text"><small class="text-muted">${pubDate}</small>
                                            <img src="https://pbs.twimg.com/media/Egg6mTKUYAACbXn?format=png&name=240x240"
                                                 height="20" onclick="bookmark()" style="cursor:pointer">
                                        </p>
                                    </div>
                                </div>`
                $("#navernews-cards").append(tempHtml);
            }

            //북마크 버튼 누르면 /bookmark에 append 하고 싶은데 찾아봐도 안 나옴.... 망함.......
            function bookmark(tempHtml) {
                alert('북마크에 추가되었습니다.')
                $("").append(tempHtml)
            }
        </script>

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img src="https://pbs.twimg.com/media/Egg6mTKUYAACbXn?format=png&name=240x240"
                     height="60" style="margin-left: 20px">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin-left: 20px">
                    <li class="nav-item active" style="text-align: right">
                        <a class="nav-link" href="/onew" style="color: #79e5cb">온유</a>
                    </li>
                    <li class="nav-item active" style="text-align: right">
                        <a class="nav-link" href="/jonghyun" style="color: #79e5cb">종현</a>
                    </li>
                    <li class="nav-item active" style="text-align: right">
                        <a class="nav-link" href="/minho" style="color: #79e5cb">민호</a>
                    </li>
                    <li class="nav-item active" style="text-align: right">
                        <a class="nav-link" href="/key" style="color: #79e5cb">키</a>
                    </li>
                    <li class="nav-item active" style="text-align: right">
                        <a class="nav-link" href="/taemin" style="color: #79e5cb">태민</a>
                    </li>
                    <li class="nav-item active" style="text-align: right">
                        <a class="nav-link" href="/bookmark" style="color: #79e5cb">북마크</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!--        화살표 버튼도 수정이 안 됨...-->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner" id="carousel-inner">
                <!--                <div class="carousel-item active">-->
                <!--                    <iframe width="853" height="480" src="https://www.youtube.com/embed/qcEcqstc2z0" frameborder="0"-->
                <!--                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
                <!--                            allowfullscreen></iframe>-->
                <!--                </div>-->
                <!--                <div class="carousel-item">-->
                <!--                    <iframe width="853" height="480" src="https://www.youtube.com/embed/6prjy441FqY" frameborder="0"-->
                <!--                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
                <!--                            allowfullscreen></iframe>-->
                <!--                </div>-->
                <!--                <div class="carousel-item">-->
                <!--                    <iframe width="853" height="480" src="https://www.youtube.com/embed/jxZkprsz2Go" frameborder="0"-->
                <!--                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
                <!--                            allowfullscreen></iframe>-->
                <!--                </div>-->
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <!--        세로 3줄로 박스 넣는 공간임. 카드끼리, 박스끼리 간격 설정해야함. -->
        <div class="cards-boxes">
            <div class="cards-box" id="smnews-cards">
                <img src="https://lh3.googleusercontent.com/jlott2WM31UTHMpo9u9PbH4sI60xzFluPan5UHoHh76a8y9VmyaNRVMKPm91LB5PVQ"
                     height="60px" style="border-radius: 10px; margin-bottom: 10px; margin-top: 10px; cursor: pointer"
                     onclick="window.open('https://now.smtown.com/news')">
                <!--                <div class="card" style="width: 360px;">-->
                <!--                    <img class="card-img-top"-->
                <!--                         src="https://i.ytimg.com/vi/jWhUIuucNdg/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLByjx9YN-FelNYRsJBO9KVMIks19A"-->
                <!--                         alt="Card image cap">-->
                <!--                    <div class="card-body">-->
                <!--                        <h5 class="card-title">슴뉴스 헤드라인</h5>-->
                <!--                        <p class="card-text">슴뉴스 내용 블라블라 태미니 렬리티 9/3 첫방송~~~~</p>-->
                <!--                        <p class="card-text"><small class="text-muted">뉴스 올라온 시간 Last updated 3 mins ago </small>-->
                <!--                            <img src="https://pbs.twimg.com/media/Egg6mTKUYAACbXn?format=png&name=240x240"-->
                <!--                                 height="20" onclick="bookmark()" style="cursor:pointer">-->
                <!--                        </p>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>

            <div class="cards-box" id="twitter-cards">
                <img src="https://pbs.twimg.com/media/Eg1exOgUwAIBVnP?format=png&name=small"
                     height="80px" style="cursor: pointer"
                     onclick="window.open('https://twitter.com/search?q=%EC%83%A4%EC%9D%B4%EB%8B%88&src=typed_query')">
                <!--                <div class="card">-->
                <!--                    <div class="card-body">-->
                <!--                        <p class="card-text">트위터 본문 가져오기~~~ 블라블라~~~</p>-->
                <!--                        <p class="card-text"><small class="text-muted">트위터 올라온 시간 Last updated 3 mins ago</small>-->
                <!--                            <img src="https://pbs.twimg.com/media/Egg6mTKUYAACbXn?format=png&name=240x240"-->
                <!--                                 height="20" onclick="bookmark()" style="cursor:pointer">-->
                <!--                        </p>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>

            <div class="cards-box" id="navernews-cards">
                <img src="https://mblogthumb-phinf.pstatic.net/20160622_73/hhtthh82_1466581509899OrBaG_PNG/%B3%D7%C0%CC%B9%F6-%B7%CE%B0%ED-%B0%ED%C8%AD%C1%FA.png?type=w800"
                     height="80px" style="cursor: pointer"
                     onclick="window.open('https://search.naver.com/search.naver?query=%EC%83%A4%EC%9D%B4%EB%8B%88&where=news&ie=utf8&sm=nws_hty')">
                <!--                <div class="card">-->
                <!--                    <div class="card-body">-->
                <!--                        <h5 class="card-title">네이버 헤드라인</h5>-->
                <!--                        <p class="card-text">네이버 본문 블라블라</p>-->
                <!--                        <p class="card-text"><small class="text-muted">시간</small>-->
                <!--                            <img src="https://pbs.twimg.com/media/Egg6mTKUYAACbXn?format=png&name=240x240"-->
                <!--                                 height="20" onclick="bookmark()" style="cursor:pointer">-->
                <!--                        </p>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
    </body>

</html>
