<!doctype html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>


        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


        <title>스엠이 일 안 해서 직접 만든 샤이니 모아보기</title>

        <!-- style -->
        <style type="text/css">
            * {
                font-family: 'Stylish', sans-serif;
            }

            .card {
                width: 360px;
            }

            .cards-box {
                display: inline-block;
                vertical-align: top;
                /*width: 360px;*/
                /*float: left;*/
            }

            .cards-boxes {
                text-align: center;
                padding-top: 210px;
                margin: 0 auto;
            }

            #navbar {
                height: 200px;
                position: fixed;
                width: 100%;
                z-index: 999;
            }

            .bg-img {
                background-position: center;
                background-size: cover;
            }

        </style>
        <script>
            $(document).ready(function () {
                showSMNews();
                showTwitters();
                showNaverNews();
                showBgImage();
            });

            function showBgImage() {
                var imgArray = new Array();
                imgArray[0] = "http://socdn.smtown.com/upload/mf/gallery/images/2018/06/25/o_1cgqdtqg6i077p1137t18s64vj11.jpg";
                imgArray[1] = "http://socdn.smtown.com/upload/mf/gallery/images/2017/12/09/o_1c0tmcgd35h8od216ql9pvnhp1g.jpg";
                imgArray[2] = "https://stat.ameba.jp/user_images/20200731/15/shizmm/8b/81/j/o1080071914796983163.jpg";
                var imgNum = Math.round(Math.random() * 3);
                var bgImg = document.getElementById('navbar');
                bgImg.style.backgroundImage = 'url(' + imgArray[imgNum] + ')';
            }

            function showSMNews() {
                $.ajax({
                    type: "GET",
                    url: "/smtown_taemin",
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success"){
                            let smnews = response['smnews']
                            for (i = 0; i < smnews.length; i++) {
                                let headline = smnews[i]['headline']
                                let content = smnews[i]['content']
                                let time = smnews[i]['time']
                                let img = smnews[i]['img']
                                let url = smnews[i]['url']
                                makeSMNewsCard(headline, content, time, img, url);
                            }
                        } else {
                            alert("SM TOWN 뉴스를 받아오지 못했습니다");
                        }
                    }
                })
            }

            function makeSMNewsCard(headline, content, time, img, url) {
                let tempHtml = `<div class="card" style="width: 360px;">
                                    <a href="${url}">
                                        <img class="card-img-top"
                                             src="${img}"
                                             alt="Card image cap">
                                    </a>
                                    <div class="card-body">
                                        <a href="${url}">
                                        <h5 class="card-title">${headline}</h5>
                                        </a>
                                        <a href="${url}"
                                            <p class="card-text">${content}</p>
                                        </a>
                                        <p class="card-text"><small class="text-muted">${time}</small>
                                            <img src="https://pbs.twimg.com/media/Egg6mTKUYAACbXn?format=png&name=240x240"
                                                 height="20" onclick="bookmark()" style="cursor:pointer">
                                        </p>
                                    </div>
                                </div>`
                $("#smnews-cards").append(tempHtml);
            }

            function showTwitters() {
                $.ajax({
                    type: "GET",
                    url: "/twitter_taemin",
                    data: {},
                    success: function (response) {
                        response = JSON.parse(response);
                        if (response["result"] == "success") {
                            let twitters = response['twitters']
                            for (i = 0; i < twitters.length; i++) {
                                makeTwitterCard(twitters[i]);
                            }
                        } else {
                            alert("트위터를 받아오지 못했습니다");
                        }
                    }
                })
            }

            function makeTwitterCard(contents) {
                let tempHtml = `<div class="card">
                                    <div class="card-body">
                                        <p class="card-text">${contents.text}</p>
                                        <p class="card-text"><small class="text-muted">${contents.created_at}</small>
                                            <img src="https://pbs.twimg.com/media/Egg6mTKUYAACbXn?format=png&name=240x240"
                                                 height="20" onclick="bookmark()" style="cursor:pointer">
                                        </p>
                                    </div>
                                </div>`
                $("#twitter-cards").append(tempHtml);
            }

            function showNaverNews() {
                $.ajax({
                    type: "GET",
                    url: "/navernews_taemin",
                    data: {},
                    success: function (response) {
                        response = JSON.parse(response);
                        if (response["result"] == "success") {
                            let navernews = response['navernews']['items']
                            for (i = 0; i < navernews.length; i++) {
                                let title = navernews[i]['title']
                                let link = navernews[i]['link']
                                let description = navernews[i]['description']
                                let pubDate = navernews[i]['pubDate']
                                makeNaverNewsCard(title, link, description, pubDate);
                            }
                        } else {
                            alert("네이버 뉴스를 받아오지 못했습니다");
                        }

                    }
                })
            }

            function makeNaverNewsCard(title, link, description, pubDate) {
                let tempHtml = `<div class="card">
                                    <div class="card-body">
                                        <a href="${link}">
                                            <h5 class="card-title">${title}</h5>
                                        </a>
                                        <a href="${link}">
                                            <p class="card-text">${description}</p>
                                        </a>
                                        <p class="card-text"><small class="text-muted">${pubDate}</small>
                                            <img src="https://pbs.twimg.com/media/Egg6mTKUYAACbXn?format=png&name=240x240"
                                                 height="20" onclick="bookmark()" style="cursor:pointer">
                                        </p>
                                    </div>
                                </div>`
                $("#navernews-cards").append(tempHtml);
            }

            function bookmark() {
                alert('북마크에 추가되었습니다.')
            }
        </script>

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-img" id="navbar">
            <a class="navbar-brand" href="/">
                <img src="https://pbs.twimg.com/media/Egg6mTKUYAACbXn?format=png&name=240x240"
                     height="60" style="margin-left: 20px" >
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin-left: 20px">
                    <li class="nav-item active">
                        <a class="nav-link" href="/onew">온유</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/jonghyun">종현</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/minho">민호</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/key">키</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/taemin">6v6</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/bookmark">북마크</a>
                    </li>
                </ul>

            </div>
        </nav>

        <div class="cards-boxes">
            <div class="cards-box" id="smnews-cards">
<!--                <div class="card" style="width: 360px;">-->
<!--                    <img class="card-img-top"-->
<!--                         src="https://i.ytimg.com/vi/jWhUIuucNdg/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLByjx9YN-FelNYRsJBO9KVMIks19A"-->
<!--                         alt="Card image cap">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">슴뉴스 헤드라인</h5>-->
<!--                        <p class="card-text">슴뉴스 내용 블라블라 태미니 렬리티 9/3 첫방송~~~~</p>-->
<!--                        <p class="card-text"><small class="text-muted">뉴스 올라온 시간 Last updated 3 mins ago </small>-->
<!--                            <img src="https://pbs.twimg.com/media/Egg6mTKUYAACbXn?format=png&name=240x240"-->
<!--                                 height="20" onclick="bookmark()" style="cursor:pointer">-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
            </div>

            <div class="cards-box" id="twitter-cards">
                <div class="card">
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">트위터 본문 가져오기~~~ 블라블라~~~</p>-->
<!--                        <p class="card-text"><small class="text-muted">트위터 올라온 시간 Last updated 3 mins ago</small>-->
<!--                            <img src="https://pbs.twimg.com/media/Egg6mTKUYAACbXn?format=png&name=240x240"-->
<!--                                 height="20" onclick="bookmark()" style="cursor:pointer">-->
<!--                        </p>-->
<!--                    </div>-->
                </div>
            </div>

            <div class="cards-box" id="navernews-cards">
                <div class="card">
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">네이버 헤드라인</h5>-->
<!--                        <p class="card-text">네이버 본문 블라블라</p>-->
<!--                        <p class="card-text"><small class="text-muted">시간</small>-->
<!--                            <img src="https://pbs.twimg.com/media/Egg6mTKUYAACbXn?format=png&name=240x240"-->
<!--                                 height="20" onclick="bookmark()" style="cursor:pointer">-->
<!--                        </p>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </body>

</html>